/*! Type System by Jxnblk */

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6,
p, dl, ol, ul, blockquote,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: var(--lh2);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--x2);
  margin-bottom: 0;
}

p, dl, ol, ul, blockquote {
  margin-top: var(--x2);
  margin-bottom: var(--x2);
}

h1, .h1 { font-size: var(--h1) }
h2, .h2 { font-size: var(--h2) }
h3, .h3 { font-size: var(--h3) }
h4, .h4 { font-size: var(--h4) }
h5, .h5 { font-size: var(--h5) }
h6, .h6 { font-size: var(--h6) }

.mx { max-width: var(--mx) }

.lh1 { line-height: var(--lh1) }
.lh2 { line-height: var(--lh2) }

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin:        var(--x1) }
.mt1 { margin-top:    var(--x1) }
.mr1 { margin-right:  var(--x1) }
.mb1 { margin-bottom: var(--x1) }
.ml1 { margin-left:   var(--x1) }

.m2  { margin:        var(--x2) }
.mt2 { margin-top:    var(--x2) }
.mr2 { margin-right:  var(--x2) }
.mb2 { margin-bottom: var(--x2) }
.ml2 { margin-left:   var(--x2) }

.m3  { margin:        var(--x3) }
.mt3 { margin-top:    var(--x3) }
.mr3 { margin-right:  var(--x3) }
.mb3 { margin-bottom: var(--x3) }
.ml3 { margin-left:   var(--x3) }

.m4  { margin:        var(--x4) }
.mt4 { margin-top:    var(--x4) }
.mr4 { margin-right:  var(--x4) }
.mb4 { margin-bottom: var(--x4) }
.ml4 { margin-left:   var(--x4) }

:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.5rem;
  --h4: 1rem;
  --h5: .75rem;
  --h6: var(--h5);
  --mx: 32em;
}

:root,
.h1,
.h4 {
  --lh1: 1;
  --lh2: 1.5;
  --x1: .5em;
  --x2: 1em;
  --x3: 2em;
  --x4: 4em;
}

h2,
h3,
h5,
h6,
.h2,
.h3,
.h5,
.h6 {
  --lh2: calc(4/3);
  --x1: calc(2/3 * 1em);
  --x2: calc(4/3 * 1em);
  --x3: calc(8/3 * 1em);
  --x4: calc(16/3 * 1em);
}

@media screen and (min-width: 32em) {
  :root,
  .h1,
  .h4 {
    --h1: 3rem;
  }
}

@media screen and (min-width: 64em) {
  :root,
  .h1,
  .h4 {
    --h1: 4rem;
    --h2: 2rem;
  }

  h2,
  .h2 {
    --lh2: 1.5;
    --x1: .5em;
    --x2: 1em;
    --x3: 2em;
    --x4: 4em;
  }
}

